@import '../../styleConfig/mixins.scss';

.register-product-supplier-form {
	width: 100%;
	padding-top: 5em;
	form {
		@include displayFlex(flex, column, center, center);
		width: 100%;
		button {
			margin-top: 3em;
		}
	}
}
