@import './theme.scss';

body {
	margin: 0;
	font-family: $Lato;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $light-gray-5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.outlet-layout {
	padding: 5em;
}
