@import '../../styleConfig/mixins.scss', '../../styleConfig/theme.scss';

.navbar {
	@include displayFlex(flex, column, center, center);
	width: 100%;
	height: 70px;
	background-color: $blue;
	.navbar-wrapper {
		width: 70%;
		@include displayFlex(flex, auto, space-around, center);
		&-link {
			@include textStyle(white, 1rem, 700);
			&:hover {
				opacity: 0.8;
			}
		}
	}
}
